# Folders
Output/*
Readings/*
Temporary/*

# Folder-specific
Data/*design*
Data/*partial*
Data/*final*
Data/*sim_data*
Data/*.xlsx
Presentation/*.pptx

# R Stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Miscellaneous
.DS_Store
